page-view-attendance {

    table, td  {
        border: 1px solid grey;
        border-collapse: collapse;
        padding: 5px;
        text-align: center;
      }
      table tr:nth-child(odd) {
        background-color:  rgb(183, 226, 238); 
        text-align: center;
      }
      table tr:nth-child(even) {
        background-color: #ffffff;
      }
      .table, th{
        border: 1px solid grey;
        border-collapse: collapse;
        text-align: center;
        background-color: rgb(46, 149, 175); 
      }

}
