page-profile {
    ion-card-header {
        background: #064c69;
        color: #fff !important;
        padding: 10px 16px;
    }


    ion-card-content{
        padding-top: 12px;
    }

    ion-content{
        margin-top: 10px;
    }
}
