page-profile {
    ion-card-header {
        background: #c0e2f1;
        color: #fff !important;
        padding: 5px 16px;
    }

    .card-header-md {
        padding: 5px 16px;
    }

    .card-content-md {
        padding: 0px 16px;
        font-size: 1.4rem;
        line-height: 3.5;
    }
}
