page-profile {
    ion-card-header {
        background: #0586d1;
        color: #fff !important;
    }
    .card-header {
        display: inline-flex !important;
        width: 45%;
    }
    .card-content {
        display: inline-flex !important;
        width: 53%;
    }
}
