<ion-header>
    <ion-navbar color="primary" hideBackButton="true" align="center">
        <ion-title>Registration</ion-title>
    </ion-navbar>
</ion-header>
<ion-content>
    <ion-card>
        <ion-card-header>
            Your School
        </ion-card-header>

        <ion-card-content>
            {{selectedSchool}}
        </ion-card-content>
    </ion-card>

    <ion-item>
        <ion-label color="primary" fixed>+91</ion-label>
        <ion-input type="tel" placeholder="10 digit mobile" maxLength="10" (input)="validatePhone($event.target.value)"></ion-input>
    </ion-item>
    <button ion-button full [disabled]='isSendOTPDisabled' (click)="sendOTP()">Send OTP</button>

    <ion-item *ngIf="showOtpField">
        <ion-label fixed>OTP</ion-label>
        <ion-input type="text" (input)="readOTP($event.target.value)"></ion-input>
    </ion-item>
    <button ion-button full *ngIf="showValidateOTPButton" (click)="validateOTP()">Validate OTP</button>
    <p class="links">
        <a (click)="getMeToFindSchool()">Not your School?</a> | 
        <a (click)="getMeToLogin()">I am registered alrady</a>
    </p>
</ion-content>