<ion-header>
  <ion-navbar color="primary" hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon color="light" name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end style="margin-right:10px;">
      <button ion-button icon-only (click)="onClickAnnouncements()">
        <ion-icon color="light" name="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="openProfilePage()">
        <ion-icon color="light" name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="userRole == 'Parent'">
    <ion-item (click)="onClickDiary('parent')">
      <ion-thumbnail item-start>
        <ion-icon name="paper"></ion-icon>
      </ion-thumbnail>
      <h2>School Diary</h2>
      <p>School Diary</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="viewAttendance()">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img> -->
        <ion-icon name="clipboard"></ion-icon>
      </ion-thumbnail>
      <h2>View Attendance</h2>
      <p>View Attendance</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="onClickAnnouncements('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img> -->
        <ion-icon name="megaphone"></ion-icon>
      </ion-thumbnail>
      <h2>Announcements</h2>
      <p>Announcements</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="onClickImageGallery('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/image gallary.png"></ion-img> -->
        <ion-icon name="images"></ion-icon>
      </ion-thumbnail>
      <h2>Image Gallery</h2>
      <p>Image Gallery</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="onClickHoldiayCalender('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img> -->
        <ion-icon name="calendar"></ion-icon>
      </ion-thumbnail>
      <h2>Holiday Calendar</h2>
      <p>Holiday Calendar</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="goToResults('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/target.png"></ion-img> -->
        <ion-icon name="school"></ion-icon>
      </ion-thumbnail>
      <h2>View Results</h2>
      <p>View Results</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="goToLunchMenu('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/lunch menu.png"></ion-img> -->
        <ion-icon name="restaurant"></ion-icon>
      </ion-thumbnail>
      <h2>Lunch Menu</h2>
      <p>Lunch Menu</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="openFeesPage()">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/lunch menu.png"></ion-img> -->
        <ion-icon name="cash"></ion-icon>
      </ion-thumbnail>
      <h2>Fees</h2>
      <p>Fees</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

  </ion-list>

  <ion-grid *ngIf="userRole == 'Teacher'" class="thumbgrid">
    <ion-item (click)="onClickDiary(userRole)">
      <ion-thumbnail item-start>
        <ion-icon name="paper"></ion-icon>
      </ion-thumbnail>
      <h2>School Diary</h2>
      <p>School Diary</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="takeAttendance()">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img> -->
        <ion-icon name="clipboard"></ion-icon>
      </ion-thumbnail>
      <h2>Attendance</h2>
      <p>Attendance</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="viewAttendance()">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img> -->
        <ion-icon name="clipboard"></ion-icon>
      </ion-thumbnail>
      <h2>View Attendance</h2>
      <p>View Attendance</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="onClickAnnouncements('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img> -->
        <ion-icon name="megaphone"></ion-icon>
      </ion-thumbnail>
      <h2>Announcements</h2>
      <p>Announcements</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="onClickImageGallery(userRole)">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/image gallary.png"></ion-img> -->
        <ion-icon name="images"></ion-icon>
      </ion-thumbnail>
      <h2>Image Gallery</h2>
      <p>Image Gallery</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item (click)="onClickHoldiayCalender('parent')">
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img> -->
        <ion-icon name="calendar"></ion-icon>
      </ion-thumbnail>
      <h2>Holiday Calendar</h2>
      <p>Holiday Calendar</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img> -->
        <ion-icon name="facebook"></ion-icon>
      </ion-thumbnail>
      <h2>Facebook</h2>
      <p>Facebook</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

    <ion-item>
      <ion-thumbnail item-start>
        <!-- <img src="img/thumbnail-totoro.png"> -->
        <!-- <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img> -->
        <ion-icon name="whatsapp"></ion-icon>
      </ion-thumbnail>
      <h2>Online Teacher</h2>
      <p>Online Teacher</p>
      <!-- <button ion-button clear item-end>View</button> -->
    </ion-item>

  </ion-grid>

  <ion-grid *ngIf="userRole == 'Admin'" class="thumbgrid">
    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school dairy.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>School Diary</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/chat icon 2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Online Teacher</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Announcements</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/image gallary.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Holiday Clendar</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow" (click)="goToResults($event)">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/target.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>View Results</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school-bus.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Facebook</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow" (click)="goToLunchMenu($event)">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/lunch menu.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Lunch Menu</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="userRole == 'Driver'" class="thumbgrid">

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>View Attendance</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Announcements</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Holiday Clendar</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>