<ion-header>
  <ion-navbar hideBackButton="true">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Dashboard</ion-title>
    <ion-buttons end style="margin-right:10px;">
      <button ion-button icon-only>
        <ion-icon name="notifications"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="contact"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid  class="thumbgrid">
    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school dairy.png"></ion-img>
      </ion-col>
      <ion-col col col-9 (click)="onClickDiary('parent')" class="thumb2 titleMenu">
        <p>School Diary</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/chat icon 2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Online Teacher</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Attendance</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Announcements</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/image gallary.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Holiday Clendar</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/target.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>View Results</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow" (click)="goToLunchMenu()">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/lunch menu.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Lunch Menu</p>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngIf="teacherMenu" class="thumbgrid">
    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school dairy.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>School Diary</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/chat icon 2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Online Teacher</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Attendance</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Announcements</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/image gallary.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Holiday Clendar</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/target.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>View Results</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school-bus.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Facebook</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/lunch menu.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Lunch Menu</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="adminMenu" class="thumbgrid">
    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school dairy.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>School Diary</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/chat icon 2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Online Teacher</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Attendance</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Announcements</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/image gallary.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Holiday Clendar</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/target.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>View Results</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Image Gallery</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/school-bus.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Facebook</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/lunch menu.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Lunch Menu</p>
      </ion-col>
    </ion-row>

  </ion-grid>

  <ion-grid *ngIf="driverMenu" class="thumbgrid">

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/exam results.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Attendance</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/megaphone-2.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Announcements</p>
      </ion-col>
    </ion-row>

    <ion-row class="thumbrow">
      <ion-col col col-3 class="thumb2 col-100">
        <ion-img width="70" height="70" style="background :transparent;" src="../assets/imgs/weekly-calendar.png"></ion-img>
      </ion-col>
      <ion-col col col-9 class="thumb2 titleMenu">
        <p>Holiday Clendar</p>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>