<!--
  Generated template for the SchoolDiaryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title>School Diary</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
    <ion-item class="dateWidget">
        <ion-label>Filter by Date:</ion-label>
        <ion-datetime type="datetime-local" displayFormat="DD/MM/YYYY" [(ngModel)]="myDate"></ion-datetime>
    </ion-item>
<div  *ngIf="userType == 'Parent'">
  <ion-card *ngFor="let schoolDiary of schooldiaryObject">
    <ion-card-content class="card">
      <ion-row>
        <ion-col>
          <p><a class="sideHeading">Date:</a> {{schoolDiary.date}}</p>
        </ion-col>
        <ion-col>
          <p><a class="sideHeading">Teacher:</a> {{schoolDiary.Teacher}}</p>
        </ion-col>
      </ion-row>
      <ion-row>
        <p><a class="sideHeading">Subject:</a> {{schoolDiary.subject}}</p>
      </ion-row>
      <ion-row>
        <p><a class="sideHeading">Description:</a> {{schoolDiary.description}}</p>
      </ion-row>

    </ion-card-content>
  </ion-card>
</div>
</ion-content>