page-findschool {
  .statusbar {
    background: #3469ce !important;
  }
  ion-item {
    border-radius: 21px;
    border: 1px solid #ccc;
  }

  .sf_logo {
    border: 1px solid #cacaca;
    box-shadow: 0px 0px 8px 1px #0586d1;
    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: 30px auto 0;
    text-align: center;
    line-height: 10;
    background: url("../../assets/imgs/Snowflake.png");
    img{
      margin-top:-2px;
    }
  }
  .card {
    //background: cornflowerblue;
    color: #fff;
    .card-header {
      color: #fff;
    }
  }
  .scroll-content {
    /* // Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#7abcff+0,4096ee+49,4096ee+49 
    background: rgb(122, 188, 255);
    //Old browsers
    background: -moz-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(64, 150, 238, 1) 49%, rgba(64, 150, 238, 1) 49%);
    //FF3.6-15
    background: -webkit-linear-gradient(top, rgba(122, 188, 255, 1) 0%, rgba(64, 150, 238, 1) 49%, rgba(64, 150, 238, 1) 49%);
    //Chrome10-25,Safari5.1-6
    background: linear-gradient(to bottom, rgba(122, 188, 255, 1) 0%, rgba(64, 150, 238, 1) 49%, rgba(64, 150, 238, 1) 49%);
    //W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7abcff', endColorstr='#4096ee', GradientType=0);
    //IE6-9 */
    .registeredSchools {
      position: absolute;
      z-index: 999;
      width: 100%;
    }
    .findSchool {
      font-size: 30px;
      font-style: italic;
      text-align: center;
      color: #fff;
      margin-top: -25px;
    }
    .searchbar-ios {
      min-height: 44px;
      background: none;
      border-radius: 21px;
      box-shadow: 0px 1px 2px 1px #ccc;
    }
    .searchbar-md {
      padding: 0;
    }
    ion-list {
      margin: 1px 0 16px;
      ion-label {
        color: color($colors, primary, base) !important;
        font-style: italic;
        white-space: normal;
      }
    }
    .searchbar-md .searchbar-input {
      border-radius: 21px;
      font-style: italic;
      /* color: #000046; */
    }
    .hide {
      display: none;
    }
    button {
      border-radius: 21px;
    }
  }
  ion-footer {
    .button-md {
      margin: 0 !important;
      font-style: italic;
      font-size: 25px !important;
      height: 50px !important;
      background: color($colors, primary, base);
    }
  }
}
